/* 26/05/20: STATUS - Partially functional. I copied across some CSS from Sports Scoring App v2 but haven't yet worked through my front-end files here to implement it. */
/* 26/05/20: TODO - [After completing MVP] Look over naming, change where necessary. Implement in front-end files. Copy other CSS from Sports Scoring App v2 if useful. */
#App {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  --primary-blue: #0c80d0;
  --dark-blue: #005b9a;
  --dark: #333;
  --light-blue: #3385ff;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
  background: #abcad6;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: var(--primary-blue);
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: left;
  color: var(--dark);
  font-size: 0.9rem;
  box-shadow: var(--shadow);
}

.btn:hover {
  background: var(--dark);
  color: var(--primary-blue);
}

.inspired-by-codeclan {
  font-size: 0.8rem;
  grid-area: inspired-by-codeclan;
  margin: 0;
}

#nav {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
}
